<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="wallpaper">

  <ion-list id="item-list">
    <ion-item-sliding *ngFor="let location of locations">

      <button ion-item class="location" (click)="itemSelected(location)">
        <ion-row>
          <ion-col col-5>
            <h2 class="centerLocationName locationName">{{ location.city }}</h2>
          </ion-col>
          
          <ion-col col-3>
            <!--<ion-icon ios="ios-cloud" md="md-cloud" class="pull-right"></ion-icon>-->
            <div>
              <ion-icon class="center">
                <img src="{{ location.weather.weatherIconURL }}" class="center weatherCondition">
              </ion-icon>
              <h2 *ngIf="selectedRulerUnit === metricUnit" class="center temperature">{{ location.weather.currentTemperature_celsius }}º</h2>
              <h2 *ngIf="selectedRulerUnit === imperialUnit" class="center temperature">{{ location.weather.currentTemperature_fahrenheit }}º</h2>
            </div>
          </ion-col>

          <ion-col col-3>
            <div>
              <ion-icon class="center">
                <img src="../assets/imgs/wave_icon.png" class="center">
              </ion-icon>
              <h2 class="center tidalHeight">{{ location.weather.currentTidalHeight }} m</h2>
            </div>
          </ion-col>
        </ion-row>
      </button>
      <ion-item-options>
        <button id="delete-button" class="delete" ion-button color="danger" (click)="deleteItem(location)">Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div class="container">
    <div class="left" style="margin-left: 4%;">
      <div class="container" (click)="switchRulerUnit()">
        <div class="left">ºC </div>
        <div class="left"> / </div>
        <div class="right"> ºF</div>
      </div>
    </div>
    
    <ion-icon class="pull-right addLocation large" style="margin-right: 4%;" ios="ios-add-circle" md="md-add-circle" (click)="openSearchPage()"></ion-icon>
  </div>
</ion-content>