// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.wallpaper {
  background-image: url('../assets/imgs/wallpaper-dark_medium.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.bar-buttons,.toolbar-title {
  color: #fff;
}

.wraptocenter {
  display: table-cell;
  text-align: center;

  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttoncenter {
  display: table-cell;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
#searchBar {
  background-color:transparent !important;
}*/

/*
.searchbar-input {
    //font-size: 1.9rem !important;
    //font-weight: 400 !important;
    //background-color: transparent !important;
    //color: black !important;
    //border: 1px solid black !important;
}*/

.button-clear-ios {
  color: white !important;
}
